@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Medium';
  src: url('/fonts/Gotham_Medium.otf');
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #2a4365;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Gotham Medium';
  width: 100%;
  height: 100%;
  background-color: #fff;
}
